/* Error: There is no module with the namespace "m".
 *    ,
 * 15 |   max-width: m.$pw-img1;
 *    |              ^^^^^^^^^^
 *    '
 *   styles\scss\partials\_mixins.scss 15:14  img1()
 *   styles\scss\partials\_main.scss 27:13    @use
 *   styles\scss\index.scss 6:1               root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: There is no module with the namespace "m".\a    \2577 \a 15 \2502    max-width: m.$pw-img1;\d\a    \2502               ^^^^^^^^^^\a    \2575 \a   styles\\scss\\partials\\_mixins.scss 15:14  img1()\a   styles\\scss\\partials\\_main.scss 27:13    @use\a   styles\\scss\\index.scss 6:1               root stylesheet';
}
