@use "./mixins" as m;
@use "./vars" as v;

// Burger Menu / Nav
.burger {
  position: static;
}

/* Button */
.burger__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: v.$rem-48;
  height: v.$rem-48;
  background: transparent;
  border: none;
  cursor: pointer;
  color: v.$fc;
  font-size: v.$rem-32;
  @include m.transition;

  &:hover {
    transform: scale(1.1);
  }

  i {
    pointer-events: none;
  }
}

.burger__link {
  display: none;
  position: absolute;
  right: 0;
  top: v.$pct;
  background-color: v.$bg-c;
  width: v.$pct;
  z-index: 1000;
  list-style: none;

  a {
    color: v.$fc;
    font-family: v.$ff-nav;
    text-decoration: none;
  }
}

.burger__nav { width: v.$pct; }

.burger__nav.responsive .burger__link {
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: v.$pct;
  right: 0;
  width: v.$pct;
  padding: v.$rem-10 v.$rem-20;
  z-index: 1000;
}

@media (min-width: v.$vp-small) {
  .burger {
    display: none;
  }
}

@media (max-width: v.$vp-small) {
  .header__list {
    display: none;
  }

  .burger {
    display: flex;
  }
}
