/* Baloo 2 - 500 */
@font-face {
    font-family: "Baloo 2";
    src: url("../fonts/Baloo2-500.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* Baloo 2 - 800 */
@font-face {
    font-family: "Baloo 2";
    src: url("../fonts/Baloo2-800.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

/* Poppins - 400 */
@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-400.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Source Sans 3 - 400 */
@font-face {
    font-family: "Source Sans 3";
    src: url("../fonts/SourceSans3-400.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
