@use "./mixins" as m;
@use "./vars" as v;

// Header Block
.header {  
  width: 100%;
  height: fit-content;
  position: relative;

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: min(v.$rem-5, 8%);
  }

  &__logo {
    width: v.$rem-64;
    height: v.$rem-32;
    cursor: pointer;
    @include m.transition;
    @include m.hover;

    &-txt {
      font-family: v.$ff-logo;
      font-size: v.$rem-24;
      font-weight: v.$fw-logo1;
    }
  }

  &__list {
    display: flex;
    list-style: none;
    text-decoration: none;
    gap: v.$rem-30;
  }

  &__link {
    font-family: v.$ff-nav;
    cursor: pointer;
    @include m.transition;
    @include m.hover;
  }
}
