@use "./mixins" as m;
@use "./vars" as v;

.main {
  width: v.$pct;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: v.$rem-28;
  text-align: center;
  padding-bottom: v.$rem-28;
  margin-top: v.$rem-145;

  &__title {
    font-family: v.$ff-title;
    font-weight: v.$fw-title;
    font-size: clamp(v.$rem-36, calc(6vw + v.$rem-16), v.$rem-84);
    line-height: clamp(v.$rem-40, calc(6vw + v.$rem-16), v.$rem-102);
    letter-spacing: clamp(v.$rem_08, calc(6vw + v.$rem-16), v.$rem_2);
    margin: 0;
    text-align: center;
  }

  &__txt {
    font-family: v.$ff-txt;
    font-size: clamp(v.$rem-12, calc(2vw + v.$rem-16), v.$rem-22);
    line-height: clamp(v.$rem-18, calc(2vw + v.$rem-16), v.$rem-32);
    margin: 0;
    padding: 0;
    text-align: center;
  }

  &__img,
  &__pic {
    display: block;
    max-width: v.$pct;
    height: auto;
  }

  /* Desktop */
  &__pic { @include m.img1; }
}

/* Tablet */
@media screen and (max-width: v.$vp-mid) and (orientation: portrait) {

  .main { margin-top: v.$rem-48; }

  .main__pic { @include m.img2; }

  .main__title {
    font-size: v.$rem-72;
    margin: 0;
  }

  .main__txt { font-size: v.$rem-22; }
}

/* Phone */
@media screen and (max-width: v.$vp-small) and (orientation: portrait) {

  .main { margin-top: v.$rem-64; }

  .main__pic { @include m.img3; }

  .main__title {
    font-size: v.$rem-36;
    margin: 0;
  }

  .main__txt { font-size: v.$rem-12; }
}
