@use "./vars" as v;

// Hover effect
@mixin transition {
transition: transform .2s;
}

@mixin hover {
  &:hover {
  transform: scale(1.1);
  }
}


// === Images ===

@mixin img1 {
  max-width: v.$pw-img1;
  width: 100%;
  height: auto;
}

@mixin img2 { 
  max-width: v.$pw-img2; 
  width: 100%; 
  height: auto; 
}

@mixin img3 { 
  max-width: v.$pw-img3; 
  width: 100%; 
  height: auto; 
}

