// === Desktop screen ===

// Font Family
$ff-logo: "Baloo 2", sans-serif;
$ff-nav:"Source Code Pro", monospace;
$ff-title: "Poppins", sans-serif;
$ff-txt: "Source Sans 3", sans-serif;

// Rem
$rem-1: -0.125rem; // -2px
$rem-2: -0.016rem; // -0.25px
$rem-3: 0.05rem; // 0.8px
$rem-4: -0.1rem; // -1.6px
$rem-5: 0.75rem; // 12px
$rem-6: 1rem; // 16px
$rem-7: 1.12rem; // 18px
$rem-8: 1.4rem; // 22px
$rem-9: 1.5rem; // 24px
$rem-10: 2rem; // 33px
$rem-11: 2.25rem; // 36px
$rem-12: 2.5rem; // 40px
$rem-13: 4.5rem; // 72px
$rem-14: 5.1rem; // 83 px
$rem-15: 5.25rem; // 84px
$rem-16: 6.4rem; // 102px


// Font Weight
$fw-logo1: 800;
$fw-logo1: 400;
$fw-title1: 500;

// Color
$fc: #FFFFFF;
$bg-c: #000000;
