// Font Family
$ff-logo: "Baloo 2", sans-serif;
$ff-nav: "Source Sans 3", sans-serif;
$ff-title: "Poppins", sans-serif;
$ff-txt: "Source Sans 3", sans-serif;

// Rem
$rem_08: 0.08rem;
$rem_2: -0.2rem;
$rem-5: 0.5rem;
$rem-10: 1rem;
$rem-12: 1.2rem;
$rem-16: 1.6rem;
$rem-18: 1.8rem;
$rem-20: 2rem;
$rem-22: 2.2rem;
$rem-24: 2.4rem;
$rem-28: 2.8rem;
$rem-30: 3rem;
$rem-32: 3.2rem;
$rem-36: 3.6rem;
$rem-40: 4rem;
$rem-48: 4.8rem;
$rem-64: 6.4rem;
$rem-72: 7.2rem;
$rem-84: 8.4rem;
$rem-102: 10.2rem;
$rem-145: 14.5rem;
$rem-568: 56.8rem;
$rem-769: 76.9rem;

// Width
$vp-wide: 90rem;
$vp-mid: 76.8rem;
$vp-small: 40rem;

// Percentages
$pct: 100%;
$pct-90: 90%;
$pct-8: 8%;

// Pics
$pw-img1: 86.4rem;
$pw-img2: 61.7rem;
$pw-img3: 25.6rem;


// Font Weight
$fw-logo1: 800;
$fw-logo2: 400;
$fw-title: 500;

// Color
$fc: #FFFFFF;
$bg-c: #000000;
