@use "./vars" as v;

/* Desktop */
.wrap {
  width: min(v.$pct-90, v.$pw-img1);
  margin: 0 auto;
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* Tablet */
@media screen and (max-width: v.$vp-mid) and (orientation: portrait) {
  .wrap {
    width: min(v.$pct-90, v.$pw-img2);
    min-height: 100vh;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 0;
    gap: v.$rem-102;
  }
}

/* Phone */
@media screen and (max-width: v.$vp-small) and (orientation: portrait) {
  .wrap {
    width: min(v.$pct, v.$pw-img3);
    min-height: 100vh;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    gap: v.$rem-10;
  }
}
