@use "./mixins" as m;
@use "./vars" as v;

.wrap{
  border: 2px solid white;
  max-width: 90rem;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: v.$rem-7;
  padding-bottom: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-row: auto 1fr auto;
  grid-template-areas:
  "header"
  ""
  "main";
  justify-content: center;
  // @include m.wrap;
}
